<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenaFOOD - Bienvenido</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

    <div class="hero-slider-container">
        
        <header class="main-header-public">
            <img src="/img/sena_food_logo.png" alt="SenaFOOD Logo" class="header-logo-public">
        </header>
        
        <div class="slider-wrapper">
            <img src="/img/slider/slide1.png" alt="Img 1" class="slider-image active">
            <img src="/img/slider/slide2.png" alt="Img 2" class="slider-image">
            <img src="/img/slider/slide3.png" alt="Img 3" class="slider-image">
        </div>
    </div>
    
    <main class="welcome-section-content"> 
        <h1 class="main-title">BIENVENIDO A SenaFOOD</h1>
        <p class="tagline">
            Explora la variedad y el sabor optimizando tu tiempo.
        </p>

        <div class="button-group-public">
            <a href="/login" class="btn-public btn-primary-public">Ingresar</a>
            <a href="/register" class="btn-public btn-secondary-public">Registrar</a>
        </div>
    </main>

<script src="/js/slider.js"></script>    
</body>
</html>